In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

/home/dilusha/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
df = pd.read_csv('BABD-13.csv')

In [3]:
(df.label.value_counts() / df.shape[0])

3     0.551003
6     0.193323
1     0.168271
2     0.025458
11    0.022797
5     0.017098
0     0.015953
10    0.002902
12    0.002759
4     0.000331
7     0.000050
8     0.000029
9     0.000028
Name: label, dtype: float64

In [4]:
data = df.copy()

0 - Blackmail: This includes ransomware, sextortion, and scams where victims are threatened or deceived to pay a certain amount of cryptocurrency to specific addresses.
1 - Cyber-Security Service: Providers offer services like payment gateways, VPNs, etc., and accept only cryptocurrency as payment.
2 - Darknet Market: Markets on the darknet where illegal items and services are traded using cryptocurrencies.
3 - Centralized Exchange: Intermediaries that allow cryptocurrency trading and swaps between cryptocurrency and fiat.
4 - P2P Financial Infrastructure Service: P2P financial activities conducted solely by cryptocurrency.
5 - P2P Financial Service: Services that reward users in cryptocurrency for completing specific tasks.
6 - Gambling: Casino games where wagers are made using cryptocurrencies.
7 - Government Criminal Blacklist: Addresses suspected or confirmed to be involved in criminal activities.
8 - Money Laundering: Trading dirty cryptocurrency in complicated ways to make it hard to trace.
9 - Ponzi Scheme: Schemes where early investors are paid using the investments of newer participants.
10 - Mining Pool: Groups of miners who pool their computational resources to increase the chances of finding a new block and earning cryptocurrency rewards.
11 - Tumbler: Services that increase the anonymity of cryptocurrency transactions.
12 - Individual Wallet: Wallets owned by ordinary people for everyday transactions.

In [5]:
# Define the categories
categories = [
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12
]

# Define the fraud and scam labels
fraud_and_scam_labels = [
    0,
    2,
    7,
    8,
    9,
    11
]

label_map = {category: 1 if category in fraud_and_scam_labels else 0 for category in categories}

In [10]:
data.head()

,account,SW,PAIa11-1,PAIa11-2,PAIa12,PAIa13,PAIa14-1,PAIa14-2,PAIa14-3,PAIa14-4,...,S2-3,S3,S4,S5,S6,S7,S8,S9,label,bin_label
0,13AM4VW2dhxYgXeQepoHkHSQuy6NgaEb94,SA,0.024182,0.000000,-0.024182,0.0,0.001000,0.021682,0.000000,0.000000,...,2725,-0.294983,0.00000,1.999223,3,0.000000,0.000247,0.000333,0,1
1,12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw,SA,0.217012,0.000000,-0.217012,0.0,0.000005,0.037723,0.000000,0.000000,...,95,-0.161792,0.00000,1.442318,2,0.000000,0.022733,0.000333,0,1
2,115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn,SA,0.067596,0.000000,-0.067596,0.0,0.000278,0.037200,0.000000,0.000000,...,1751,-0.211953,0.00000,2.000842,3,0.000000,0.000309,0.000341,0,1
3,1NXTgfGprVktuokv3ZLhGCPCjcKjXbswAM,SA,0.000095,0.000000,-0.000095,0.0,0.000041,0.000054,0.000000,0.000000,...,2,-0.081717,0.00000,2.000000,4,0.000000,0.174270,0.083333,0,1
4,15RLWdVnY5n1n7mTvU1zjg67wt86dhYqNj,SA,25.000993,25.000993,0.000000,1.0,25.000993,25.000993,25.000993,25.000993,...,11,-0.023318,0.06006,3.524528,8,0.307692,0.046156,0.027027,0,1

In [6]:
label_map

{0: 1,
 1: 0,
 2: 1,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 1,
 8: 1,
 9: 1,
 10: 0,
 11: 1,
 12: 0}

In [7]:
data['bin_label'] = data['label'].map(label_map)

In [8]:
data.bin_label.value_counts()

0    509445
1     35017
Name: bin_label, dtype: int64

In [9]:
data.to_csv('BABD-2.csv')

In [11]:
anomaly_address = data[data.bin_label == 1]['account']
non_anomaly_address = data[data.bin_label == 0]['account']

In [12]:
anomaly_address.to_csv('anomaly_address.csv')
non_anomaly_address.to_csv('non_anomaly_address.csv')

In [17]:
len(anomaly_address)

35017

In [18]:
anomaly_address = pd.read_csv('anomaly_address.csv')
anomaly_address.head()

   Unnamed: 0                             account
0           0  13AM4VW2dhxYgXeQepoHkHSQuy6NgaEb94
1           1  12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw
2           2  115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn
3           3  1NXTgfGprVktuokv3ZLhGCPCjcKjXbswAM
4           4  15RLWdVnY5n1n7mTvU1zjg67wt86dhYqNj

I found an research there do analysis like below.

Get the time unit values for all transaction of an address,  then create series by taking time difference between two consecutive transactions. Then using statistical method compare the these address time series. For the comparism, they compare label known address time difference series with label unknown time difference series. So how Do I try method like that?

In [2]:
df = pd.read_csv('BABD-2.csv')

In [3]:
import random

In [4]:
random_label_1_records = df[df['label'] == 1].sample(frac=1, random_state=42).head(50)
random_label_0_records = df[df['label'] == 0].sample(frac=1, random_state=42).head(50)

In [5]:
combined_df = pd.concat([random_label_1_records, random_label_0_records])

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_random_records.csv', index=False)

In [6]:
unique_account_counts = combined_df['account'].value_counts()

In [7]:
unique_account_counts

3EbWSFrAP2Bfi36EB3sky72VaKFsaxJU5n    1
1KoKBgZGhNKcw5G7JuGvwcW9Mgugp8k3fB    1
12epiVBvAVzxXbnZ4z8L49WthWTRMJGciF    1
1CRzBr2rNdwNKN3Zdr3YJjiQS7kAZas8nK    1
1GNzmeLwfm8atxnmCtvDG44no6L5v5AWFZ    1
                                     ..
38fwVxmV5DLGNu1SsCm4ysMP6Fz9UsTmkY    1
3Mudnvr1uJs2jdit73ujWJZt2wvoEDf1Qh    1
35hue3x6Hj5Df3rRxtMobFNLoRZEnZMbc4    1
3BJPEspFVfNZcKaitnvtt5qzwRGBgQPYWr    1
1NeSCRrB6nXs5Sm6pYPktZjvkscpw5su6e    1
Name: account, Length: 100, dtype: int64