In [14]:
import pandas as pd

In [40]:
babd = pd.read_csv('BABD-13.csv')

In [3]:
babd['account'].value_counts()

12YfqqLP4qAeENmnuW7sB8oC8T6TFLawE5    4
1K8DQbAupiGg95FdU9YVPoM3ANSHZ9EGgT    4
1DKeRSqnY24m6qEBLshJtshhcMjhMmfYot    4
14F5H6zgQq39njYJWPLWznsEpJSTtUWAHk    4
158r99HsERpiBqWg3w2FCPHbUfkXG8Zxsd    4
                                     ..
19Dub1gxozcQzB77k9esdnWx1mKaKqXz3D    1
1Pa9UuH1cMMexkK1keHg3Fc8PujSRb96eg    1
19UL9vbF213Qv8PKYLMc3YnWgwWmnb5DiD    1
1GioQYjSqocjHCj7ZZZy9bv6wY3LSZ6Srm    1
1EWpR5As2qn4A2zfJg3HNQXrbgTVuVHYd9    1
Name: account, Length: 542368, dtype: int64

In [5]:
babd['label'].value_counts()

3     300000
6     105257
1      91617
2      13861
11     12412
5       9309
0       8686
10      1580
12      1502
4        180
7         27
8         16
9         15
Name: label, dtype: int64

In [4]:
len(set(babd['account']))

542368

In [16]:
babd_anomaly = babd[babd['label'].isin([0,2,11])]

In [17]:
babd_good = babd[babd['label'].isin([1,3,4,5,6])]

In [18]:
babd_anomaly['label'].value_counts()

2     13861
11    12412
0      8686
Name: label, dtype: int64

In [19]:
babd_good['label'].value_counts()

3    300000
6    105257
1     91617
5      9309
4       180
Name: label, dtype: int64

In [20]:
babd_anomaly.shape, babd_good.shape

((34959, 151), (506363, 151))

In [22]:
babd_good.to_csv('babd-13-good.csv', index=False)

In [23]:
babd_anomaly.to_csv('babd-13-anomaly.csv', index=False)

In [24]:
size_df1 = babd_anomaly.shape[0]  # Replace this with len(df1) if you have the dataframe df1 loaded

# Calculating the required size from df2
required_size = size_df1 // 3

# Randomly selecting rows from df2
babd_good_sample = babd_good.sample(n=required_size)

In [25]:
babd_good_sample.shape

(11653, 151)

In [26]:
babd_good_sample.to_csv('babd_good_sample.csv', index=False)

In [28]:
babd_good_sample['label'] = -1

In [29]:
babd_good_sample['label'].value_counts()

-1    11653
Name: label, dtype: int64

In [30]:
combined_babd_sample = pd.concat([babd_good_sample, babd_anomaly])

In [31]:
combined_babd_sample['label'].value_counts()

 2     13861
 11    12412
-1     11653
 0      8686
Name: label, dtype: int64

In [32]:
combined_babd_sample = combined_babd_sample[['account', 'label']]

In [33]:
combined_babd_sample.head()

                                   account  label
351752  1MYVum5nsg9irQMrUsh4sxE8obfbSwTmBL     -1
153750  19DrAW7qQrashPBg7r6tWkTxD7sL1cA82B     -1
300405   1gpfEvpEZ2qfz8vbRoRtAQoqnpmYTFNWU     -1
36093   336eBgmKhxYNKCG44xXnAkhH5PVhpo7JsF     -1
359732  1N8k4iXndXpWNdYUKkF3dLybxQZ6pGwT69     -1

In [36]:
combined_babd_sample.shape

(46612, 2)

In [37]:
len(set(combined_babd_sample['account']))

45010

In [34]:
combined_babd_sample.to_csv('combined_babd_sample.csv', index=False)

In [41]:
duplicate_rows = babd[babd.duplicated()]

In [42]:
print(duplicate_rows)

                                         account  SW   PAIa11-1   PAIa11-2  \
2997          123kGfxP2NCsreWX457kuVq8vPZoDaK5hw  WA   0.065644   0.065644
3001          125iYH3kh9y4EoEs1YNcAywY3aeAqqvUuo  WA   0.545334   0.545334
3014          129ycGA6Kh5ZSf93J8gPDfKCu6QwWAB8zH  WA   0.350422   0.350422
3018          12anKoz6Nw3wa2xgWobmohFy44rLi8w3Ri  WA  25.113992  25.113992
3046          12EMaHiZG75ztkjUjuPZhQDcyW89qRJVuR  WA   0.555361   0.555361
...                                          ...  ..        ...        ...
8649  bc1qthpafv96dxqhm80vxdwd0t0453j9rlms2w3797  WA   0.270000   0.270000
8661  bc1qvuu0mhq4tune4h8hnedu50pm9aucmlv2ghytna  WA   1.602926   1.602926
8664  bc1qwjkwsz0q6ksejvpvjrnp2e203hfxl9pqrtq62y  WA   1.248097   1.248097
8669  bc1qxeaal7uq92xcclx9yfeadyz0t9x7h7yuq7wh2d  WA  14.554628  14.554607
8685  bc1qzrhcjdmc0de897cw4hjmu0dk652hdedl7c8k60  WA  28.288775  28.288775

            PAIa12    PAIa13  PAIa14-1  PAIa14-2  PAIa14-3  PAIa14-4  ...  \
2997  0.000000e+00  1.000000  0.020140  0.023460  0.020140  0.023460  ...
3001  0.000000e+00  1.000000  0.140962  0.214714  0.140962  0.214714  ...
3014  5.551115e-17  1.000000  0.065333  0.072073  0.065333  0.072073  ...
3018  0.000000e+00  1.000000  0.000106  0.940836  0.000106  0.940836  ...
3046  0.000000e+00  1.000000  0.003909  0.129725  0.003909  0.129725  ...
...            ...       ...       ...       ...       ...       ...  ...
8649  0.000000e+00  1.000000  0.040000  0.100000  0.040000  0.100000  ...
8661  0.000000e+00  1.000000  0.007332  0.799629  0.007332  0.799629  ...
8664  0.000000e+00  1.000000  1.248097  1.248097  1.248097  1.248097  ...
8669 -2.022000e-05  0.999999  0.000020  1.408240  0.000538  1.408240  ...
8685 -7.105427e-15  1.000000  0.000091  3.991731  0.000091  3.991731  ...

      S2-2  S2-3        S3        S4        S5  S6        S7        S8  \
2997   358  1153 -0.227400  0.000008  2.018483   5  0.454545  0.000269
3001  1108  2336 -0.169393  0.001394  2.284256   8  0.357143  0.000709
3014  2841  3402 -0.314343  0.000009  1.999696   5  0.538462  0.001033
3018   233   583 -0.079928  0.041094  3.002402   4  0.661134  0.055471
3046  2886  2887 -0.316867  0.000065  2.755299   6  0.475000  0.002194
...    ...   ...       ...       ...       ...  ..       ...       ...
8649   607  1286 -0.137809  0.001074  2.304092   7  0.260174  0.001159
8661   415  1049 -0.168709  0.005088  2.769307   7  0.293360  0.000572
8664     1     2 -0.127544  0.016913  3.525597   8  0.347826  0.023356
8669    48   166 -0.304315  0.024116  2.541063   3  0.506608  0.020797
8685   610   617 -0.151891  0.005018  3.802718   6  0.422535  0.117948

            S9  label
2997  0.000333      0
3001  0.000458      0
3014  0.000395      0
3018  0.000335      0
3046  0.000333      0
...        ...    ...
8649  0.000333      0
8661  0.000334      0
8664  0.022222      0
8669  0.000334      0
8685  0.000334      0

[528 rows x 151 columns]

In [43]:
babd_part = babd[['account', 'label']]

In [44]:
babd_part.head()

                              account  label
0  13AM4VW2dhxYgXeQepoHkHSQuy6NgaEb94      0
1  12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw      0
2  115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn      0
3  1NXTgfGprVktuokv3ZLhGCPCjcKjXbswAM      0
4  15RLWdVnY5n1n7mTvU1zjg67wt86dhYqNj      0

In [45]:
duplicate_rows = babd_part[babd_part.duplicated()]
print(duplicate_rows)

                                         account  label
13            115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn      0
241           149w62rY42aZBox8fGcmqNsXUzSStKeq8C      0
378           15RLWdVnY5n1n7mTvU1zjg67wt86dhYqNj      0
2997          123kGfxP2NCsreWX457kuVq8vPZoDaK5hw      0
3001          125iYH3kh9y4EoEs1YNcAywY3aeAqqvUuo      0
...                                          ...    ...
8649  bc1qthpafv96dxqhm80vxdwd0t0453j9rlms2w3797      0
8661  bc1qvuu0mhq4tune4h8hnedu50pm9aucmlv2ghytna      0
8664  bc1qwjkwsz0q6ksejvpvjrnp2e203hfxl9pqrtq62y      0
8669  bc1qxeaal7uq92xcclx9yfeadyz0t9x7h7yuq7wh2d      0
8685  bc1qzrhcjdmc0de897cw4hjmu0dk652hdedl7c8k60      0

[537 rows x 2 columns]

In [46]:
duplicate_rows = babd_part[babd_part.duplicated('account')]
print(duplicate_rows)

                                           account  label
13              115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn      0
241             149w62rY42aZBox8fGcmqNsXUzSStKeq8C      0
378             15RLWdVnY5n1n7mTvU1zjg67wt86dhYqNj      0
2997            123kGfxP2NCsreWX457kuVq8vPZoDaK5hw      0
3001            125iYH3kh9y4EoEs1YNcAywY3aeAqqvUuo      0
...                                            ...    ...
544455  bc1qvq53pjvx0gp3c5znercq6xvksps7vza5lh6ham     12
544457  bc1qy5cxaffch0un0kf82jz0cgg93jsesneczj2d64     12
544458  bc1qzhe5drq4lxcf7e76llp8s0fg0ka7fvfnfy79au     12
544459  bc1qzj8lfrsjkj0nkznppfyam6fnrl8sve0g0896lz     12
544460  bc1qzrhcjdmc0de897cw4hjmu0dk652hdedl7c8k60     12

[2094 rows x 2 columns]

In [47]:
babd_group = babd_part.groupby('account')

In [53]:
babd_group.get_group('149w62rY42aZBox8fGcmqNsXUzSStKeq8C')

                                   account  label
5       149w62rY42aZBox8fGcmqNsXUzSStKeq8C      0
241     149w62rY42aZBox8fGcmqNsXUzSStKeq8C      0
528951  149w62rY42aZBox8fGcmqNsXUzSStKeq8C      8

In [51]:
group_count_with_diff_labels = sum(group['label'].nunique() > 1 for _, group in babd_group)

group_count_with_diff_labels

1414

In [52]:

non_unique_label_accounts = babd_group.filter(lambda x: x['label'].nunique() > 1)['account'].unique()

non_unique_label_accounts

array(['149w62rY42aZBox8fGcmqNsXUzSStKeq8C',
       '1AjZPMsnmpdK2Rv9KQNfMurTXinscVro9V',
       '113ioG4RFd9pRVfJVKauCbg7QH3oUe6URa', ...,
       '1xPr18gM8YKsaiUkGz9MgpjtwcBQcME2i',
       '37K4AbCLjSb4NYPty3FueGdnEog6Y1zGYT',
       '3Jhu89HVMHkK2zUDqfUeuVCogMUuLuoSF9'], dtype=object)